.quotes-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.quotes-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.quotes-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quotes-header .home-link {
  font-family: var(--font-display);
  font-size: 3rem;
}

.quotes-header .home-link a {
  color: var(--color-foreground);
}

.quotes-header .home-link a:hover {
  text-decoration: none;
}

.quotes-header .logo-medium {
  display: none;
}

.quotes-header a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.quotes-header .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.quotes-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
}

.quotes-main .container {
  display: flex;
  gap: 1rem;
}

.quotes-list {
  max-width: 12rem;
}

.quotes-outlet {
  flex: 1;
}

.quotes-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

@media print, (min-width: 640px) {
  .quotes-header .logo {
    display: none;
  }

  .quotes-header .logo-medium {
    display: block;
  }

  .quotes-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .quotes-main .container {
    flex-direction: column;
  }
}

.quotes-block {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  position: relative;
}

blockquote {
    max-width: 550px;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
    color: #428bca;
    /* border-top: 4px dotted #428bca; */
    /* border-bottom: 4px dotted #428bca; */
}

/* blockquote {
	font-weight: 100;
	font-size: 2rem;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
} */

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

/* blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
} */

blockquote::before {
   /* content: '"'; */
   display: block;
   font-size: 80px;
   left: 10px;
   top: 10px;
   position: relative;
   height: 0;
}

blockquote:after {
  left: 10px;
  top: 10px;
}

cite {
	line-height: 3;
	text-align: center;
  bottom: 20px;
}

